html, body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 16px;
}



header {
  margin-top: -0.98%;
  background-color: rgba(3, 2, 44, 0.993);
  font-size: 120%;
}

footer {
  margin-top: -0.28%;
  background-color: rgba(3, 2, 44, 0.993);
  padding: 1.5%;
  color: white;
  text-align: center;

}
.Links nav ul li {
  display: inline-block;
  height: 50px;
  font-size: 23px;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;

}

.Links nav {
  width: 100%;
  display: inline-block;
}


.Links nav ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  display: block;
  padding: 12px 30px;
  border-radius: 3px;
  transition: 0.6s ease all;
}

.Links nav ul li a:hover {
  color: rgb(5, 106, 201);
}

.Home h2 {
  position: absolute; 
  top: 25%; 
  text-align: left;
  left: 1em;
  width: 100%; 
  font-size: 60px;
  color: white;
}

img {
  position: relative;
  width: 118.93em;
  height: auto;
}

.Home img:last-child {
  position:absolute;
  width: 300px;
  height: auto;
  top: 21em;
  left: 45em;
}