html, body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 16px;
}



header {
  margin-top: -0.98%;
  background-color: rgba(3, 2, 44, 0.993);
  font-size: 120%;
}

footer {
  margin-top: -0.28%;
  background-color: rgba(3, 2, 44, 0.993);
  padding: 1.5%;
  color: white;
  text-align: center;

}
.Links nav ul li {
  display: inline-block;
  height: 50px;
  font-size: 23px;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;

}

.Links nav {
  width: 100%;
  display: inline-block;
}


.Links nav ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  display: block;
  padding: 12px 30px;
  border-radius: 3px;
  transition: 0.6s ease all;
}

.Links nav ul li a:hover {
  color: rgb(5, 106, 201);
}

.Home h2 {
  position: absolute; 
  top: 25%; 
  text-align: left;
  left: 1em;
  width: 100%; 
  font-size: 60px;
  color: white;
}


img {
  position: relative;
  width: 118.93em;
  height: auto;
}

.Home img:last-child {
  position:absolute;
  width: 300px;
  height: auto;
  top: 23em;
  left: 50em;
}

.Skills  {
  margin-top: -20px;
  height: 1000px;
  border: 15px solid rgba(3, 2, 44, 0.993);
  margin-top: 100px;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 50px;
}


.MuiCard-root {
  border: 4px solid rgba(3, 2, 44, 0.993) !important;
}

.MuiCard-root:nth-child(2) {
  position:absolute;
  top: 26em;
  left: 21em;
  width: 500px;
  height: 450px;
  text-align: center;

}

.MuiCard-root:nth-child(3) {
  position:absolute;
  top: 26em;
  left: 64em;
  width: 500px;
  height: 450px;
  text-align: center;
}

.MuiLinearProgress-root {
  position: absolute;
  width: 300px;
  left: 7em;
  color:rgba(3, 2, 44, 0.993) !important;

}

.MuiLinearProgress-colorPrimary {
  color:rgba(3, 2, 44, 0.993) !important;
}


.Skills h1 {
  text-align: center;
  font-size: 70px;
}

.About {
  height: 1000px;

}